*{
    padding: 0;
    margin: 0;
}
.fontdesq{
    text-align: center;
    color: black;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
}
.fontpad{
    text-align: center;
    text-decoration: black;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 1px;
}